.footer {
  height: 5vh;
  line-height: 5vh;
  background-color: black;
  color: gray;
  text-align: center;
  font-size: 0.8em;
}

.footer__link {
  color: gray;
}

.footer__link:hover {
  text-decoration: none;
  color: #0275d8;
  border-bottom: 1px dashed #0275d8;
}